# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
ImagesPreview
dist
dist-ssr
*.local
src/js/script-old.js
src/js/old-full-script.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

2025-06-24_19-31_Whoopclub.json
.prettierignore
/node_modules/
files.json

.vercel
